.Font {
  font-family: Arial, "Microsoft YaHei";
  text-shadow:
    2px 2px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 23px;
  color: white;
}


.Name {
  @extend .Font;
  text-align: center;
  min-width: 15%;
  max-width: 25%;
  user-select: none;
  align-content: center;
  background: linear-gradient(to left, rgba(162, 160, 160, 0), rgba(0, 0, 0, 0.9));
  box-sizing: border-box;
  animation: TextDelayShow 0.7s ease-out forwards;
  letter-spacing: 0.2em;
  border: 2px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
}

.Name span {
  margin-left: -60px;
}
