.CharacterInfoContainer {
  width: 15%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;


}

.CharacterInfoContainer {
  img {
    background-size: cover;
    width: 100%;
    overflow: visible;

    margin: {
      left: 5px;
      right: 5px;
      bottom: 10px;
      top: 10px;
    }

    ;
  }
}
