.CharacterInfoContainer {
  width: 15%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;

  margin: {
    left: 5px;
    right: 5px
  }

  ;
}

.CharacterInfoContainer {
  img {
    background-size: cover;
    width: 100%;
    max-height: 100px;
  }
}
