.MainUI {
  height: 100%;
  width: 100%;
  vertical-align: bottom;
  align-content: center;
  position: absolute;
  display: flex;
}

.MainMenu {
  background: linear-gradient(to right, rgb(43, 43, 43), rgba(187, 185, 185, 0));
  max-width: 30%;
  justify-self: start;
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-direction: column;
}
