.FigureContainer {
    z-index: 3;
    position: absolute;
    height: 600px;
    width: calc(100% - 40px);
    bottom: 40px;
    display: flex;
    // justify-content: space-around;
    left: 0;
    margin: 20px;
}
