.TextBoxContainer {
    height: 100%;
    width: 100%;
    user-select: none;
    color: greenyellow;
    text-align: left;
    font-size: 25px;
    font-family: Helvetica, 'Hiragino Sans GB', Arial, sans-serif;
}

.MarginContainer {
    cursor: default;

    padding: {
        left: 20px;
        right: 20px;
        top: 10px;
        bottom: 10px;
    }

    ;
    height: 280px;
    min-width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    border: 2px solid black;
}
